
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    width: 90px; /* Set the logo size */
    height: auto;
    margin: 0px;
}
.noggle {
    width: 50px; /* Set the logo size */
    height: auto;
    cursor: pointer;
    filter: grayscale(100%); /* Apply grayscale to indicate inactive */
    transition: filter 0.3s ease;
}
.noggle:hover {
    width: 50px; /* Set the logo size */
    height: auto;
    cursor: pointer;
    filter: grayscale(100%); /* Apply grayscale to indicate inactive */
    transition: filter 0.3s ease;
    transform: scale(1.5);
}

.noggle.active {
    filter: grayscale(0%); /* Remove grayscale to indicate active */
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}


.flexrow {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
.main-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fuki_col_12{
    width: 100%;
    position: relative;
    margin-right: 3%;
}

.fuki_col_6{
    width: 50%;
    position: relative; 
}

.fuki_col_4{
    width: 33.33%;
    position: relative; 
}

 .fuki_col_xs_12{
    width: 100%;
    position: relative; 
}

 .fuki_col_3{
     width: 25%;
    position: relative; 
 }

.fuki_row {
    margin-right: 3%;
   margin-left: 3%;
}

 
/* Header Section */
header {
    background-color: #7AB3E5;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Welcome Section */
.welcome {
    background: no-repeat url("assets/clound2.png");
    background-position: bottom;
    background-color: #7AB3E5;
    padding: 50px 20px;
    text-align: center; 
}

.welcome h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.welcome p {
    font-size: 1.2em;
    color: #333;
}




.intro{  
    background-color: #6CBC8E;
    padding: 50px 20px;
    text-align: center; 
}


.cloun-s {
  position: fixed;
  left: 0;
  top: 50%;
  width: 10%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 200px);
   overflow: hidden;

}


/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

footer p {
    margin: 0;
}

.welcome-head{width: 70%;}
.welcome-fuki{width: 80%;}
.who-fuki{width: 30rem;}

@media (min-width: 768px) and (max-width: 2000px) {

.fuki-flex{
display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.main-nav-fuki-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.who-fuki{width: 30rem;}
  .comics{width:100%; border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    margin: 0% 2%; }
        .col-m{
    margin: 0% 2%;
    }
 } 

/* Responsive Design */
@media (max-width: 768px) {
    .col-m{
    margin: 5% auto;
    }
    .welcome {
        padding: 30px 10px;
    }

    .welcome h2 {
        font-size: 1.5em;
    }

    .welcome p {
        font-size: 1em;
    }

    .gallery img {
        max-width: 90%;
    }


.fuki-flex{
display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.fuki_col_xs_6{
    width: 50%;
    position: relative; 
}
.col-m{

    margin: 5% auto;
}
.who-fuki{width: 30rem;}
  .comics{width:100%; border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    margin: 0% auto; }
}

@media (max-width: 480px) {

      .comics{width:100%; border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    margin: 0% auto; }
    .welcome h2 {
        font-size: 1.2em;
    }

    .welcome p {
        font-size: 0.9em;
    }

    .gallery img {
        max-width: 100%;
    }

    .fuki-flex{
display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.fuki_col_xs_6{
    width: 50%;
    position: relative; 
}

.who-fuki{width: 30rem;}
} 


.cloud-m {
  width: 150px;
  height: 25px;
  color: white;
  font-weight: bold;
  position: absolute;
  animation: cloudmove 8s infinite;
  animation-timing-function: cubic-bezier(0,0,1,1);
}

@keyframes cloudmove {
  0% {left: 0px;}
  50% {left: 50px;}
    70% {left: 50px;}
      90% {left: 0px;}
       100% {left: 0px;}
}


.cloud-m2 {
  width: 150px;
  height: 25px;
  color: white;
  font-weight: bold;
  position: absolute;
  animation: cloudmove2 8s infinite;
 animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

@keyframes cloudmove2 {
  0% {right: 0px;top: 0px;}
  50% {right: 50px;top: 0px;}
    70% {right: 50px;top: 0px;}
      90% {right: 0px;top: 0px;}
       100% {right: 0px;top: 0px;}
}


.fuki-block1{width: 250px;
    height: 250px;
     background:#f68529;
    border-radius: 50%;
    overflow: hidden;
    }
    .fuki-block2{width: 250px;
    height: 250px;
         background: #fc95ab;
    border-radius: 50%;
    overflow: hidden;
    }
    .fuki-block3{width: 250px;
    height: 250px;
     background:#b8663d;
    border-radius: 50%;
    overflow: hidden;
    }
.fuki-images{height: 100%}

.fuki-block-w{
    padding: 15px;   
 font-size: 1.5rem;
}
 .fuki-block-header{
 font-size: 3rem;
 text-transform: uppercase; 
 font-family:'Londrina Solid', 'sans-serif';
}





.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    cursor: pointer;
    min-width: 100%;
        display: flex;
    justify-content: space-around;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

.carousel-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    margin: 0 5px;
    cursor: pointer;
}

.thumbnail img {
    width: 100px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.thumbnail img:hover {
    border-color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: 10% auto;
    display: block;
    width: 100%;
    max-width:700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Gallery Section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
   background-color: rgb(213, 215, 225);
}

.gallery img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.ghead-noggle{ width: 40%;text-align: center;}
.dflex_social{
    display: flex;
        padding: 5% 25%;
        background: rgb(238, 238, 239);
}

.social{background-color: rgb(238, 238, 239);}
        . :hover{width: 25%;
  fill: green;
}
.svg-hover-target{width: 25%;}
.svg-hover-target:hover {
  fill: red; /* change fill color to red on hover */
}
.cccomics{padding: 20px;
    background-color: rgb(213, 215, 225);

}
